Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cmake-build-debug
.cmake/
.ninja_deps
.ninja_log
build.ninja
compile_commands.json

.idea/
__pycache__/
.ipynb_checkpoints
~/
.vscode
perf.data
*.swp

/bin/wheelcc
/bin/planet
/bin/pkgname.cfg
/bin/pkgpath.cfg
/bin/fileext.cfg
/bin/crt.o
/bin/libc/*
/build/build_cache/
/test/tests/
/test/test_results/
/test/tmp/
ast.out.*
valgrind.out.*
format.out.*
*.callgrind.out.*

/src/*.cpp
/src/ast/*.cpp
/src/backend/assembly/*.cpp
/src/backend/emitter/*.cpp
/src/frontend/intermediate/*.cpp
/src/frontend/parser/*.cpp
/src/optimization/*.cpp
/src/util/*.cpp
