Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cmake-build-debug
.cmake/
.ninja_deps
.ninja_log
build.ninja
compile_commands.json

.idea/
__pycache__/
.ipynb_checkpoints
~/
.vscode
perf.data
*.swp

/bin/wheelcc
/bin/package_name.txt
/bin/crt.o
/build/build_cache/
/test/tests/
/test/test_results/
/test/tmp/
ast.out.*
valgrind.out.*
format.out.*
*.callgrind.out.*

/src/ast/back_symt.cpp
/src/ast/interm_ast.cpp
/src/ast/back_ast.cpp
/src/ast/front_symt.cpp
/src/ast/ast.cpp
/src/ast/front_ast.cpp
/src/optimization/reg_alloc.cpp
/src/optimization/optim_tac.cpp
/src/util/str2t.cpp
/src/util/fileio.cpp
/src/util/pprint.cpp
/src/util/throw.cpp
/src/frontend/intermediate/tac_repr.cpp
/src/frontend/intermediate/idents.cpp
/src/frontend/intermediate/semantic.cpp
/src/frontend/parser/parser.cpp
/src/frontend/parser/errors.cpp
/src/frontend/parser/lexer.cpp
/src/backend/emitter/gas_code.cpp
/src/backend/assembly/asm_gen.cpp
/src/backend/assembly/stack_fix.cpp
/src/backend/assembly/registers.cpp
/src/backend/assembly/symt_cvt.cpp
