Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cmake-build-debug
.cmake/
.ninja_deps
.ninja_log
build.ninja
compile_commands.json

.idea/
__pycache__/
.ipynb_checkpoints
~/
.vscode
perf.data

/bin/ccc2
/bin/package_name.txt
/test/
